@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: oklch(0.25 0 0);
  --color-foreground: oklch(0.85 0 0);
  --color-foreground-muted: oklch(0.65 0 0);
  --color-primary: oklch(62.31% 0.188 259.81);
  /* --color-primary: #3b82f6; */
  /* --color-primary: hsl(217, 91%, 60%); */
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
