@import "tailwindcss";

@theme {
  --color-background: oklch(0.25 0 0);
  --color-foreground: oklch(0.85 0 0);
  --color-foreground-muted: oklch(0.65 0 0);
  --color-primary: #3b82f6;
}

@layer utilities {
  .line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}

html {
  scroll-behavior: smooth;
}
